/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Patua One", cursive;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9e090;
  width: 100%;
  border-bottom: 2.5px groove black;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav .main-title {
  padding: 1rem;
  font-size: 4rem;
  display: flex;
}
nav .main-title .fas {
  color: #993366;
}
nav .links {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 50%;
}
@media (max-width: 500px) {
  nav .links {
    width: 100%;
  }
}
nav .links a {
  background-color: #993366;
  border-radius: 1.5rem;
  color: white;
  padding: 15px 30px;
  width: 85%;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 0.4rem;
  margin: 1rem;
}
nav .links a:hover {
  background-color: #dc5353;
  color: #993366;
}
footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.container {
  background-image: linear-gradient(#f9e090, #ff935c, #dc5353);
}
.container header .header-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin: 0rem 2rem 0rem 2rem;
}
@media (max-width: 500px) {
  .container header .header-img {
    justify-content: space-between;
  }
}
.container header .header-img .left-img {
  width: 30%;
  height: auto;
  border: 1rem ridge #993366;
}
@media (max-width: 500px) {
  .container header .header-img .left-img {
    width: 85%;
  }
}
.container header .header-img .mid-img {
  width: 30%;
  height: auto;
  border: 1rem ridge #993366;
}
@media (max-width: 500px) {
  .container header .header-img .mid-img {
    display: none;
  }
}
.container header .header-img .right-img {
  width: 30%;
  height: auto;
  border: 1rem ridge #993366;
}
@media (max-width: 500px) {
  .container header .header-img .right-img {
    display: none;
  }
}
.container header .header-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .container header .header-box {
    flex-direction: column;
  }
}
.container header .header-box .mission-statement {
  width: 50%;
}
@media (max-width: 500px) {
  .container header .header-box .mission-statement {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .container header .header-box .mission-statement h2 {
    display: flex;
    justify-content: center;
  }
}
.container header .header-box .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  width: 25%;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container header .header-box .btn-container {
    width: 60%;
    margin: 1rem 0rem 0rem 0rem;
  }
}
.container header .header-box .btn-container btn {
  background-color: #993366;
  border-radius: 1rem;
  color: white;
  padding: 15px 30px;
  width: 85%;
  text-align: center;
  font-size: 16px;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}
.container header .header-box .btn-container btn:hover {
  background-color: #dc5353;
  color: #993366;
}
.container .features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .features .top-row {
  display: flex;
}
@media (max-width: 500px) {
  .container .features .top-row {
    flex-direction: column;
    align-items: center;
  }
}
.container .features .top-row .top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .top-row .top-left {
    width: 85%;
  }
}
.container .features .top-row .top-left .create {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .features .top-row .top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .top-row .top-right {
    width: 85%;
  }
}
.container .features .top-row .top-right .friends {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .features .mid-row {
  display: flex;
}
@media (max-width: 500px) {
  .container .features .mid-row {
    flex-direction: column;
    align-items: center;
  }
}
.container .features .mid-row .mid-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .mid-row .mid-left {
    width: 85%;
  }
}
.container .features .mid-row .mid-left .calendar {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .features .mid-row .mid-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .mid-row .mid-right {
    width: 85%;
  }
}
.container .features .mid-row .mid-right .food {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .features .bottom-row {
  display: flex;
}
@media (max-width: 500px) {
  .container .features .bottom-row {
    flex-direction: column;
    align-items: center;
  }
}
.container .features .bottom-row .bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .bottom-row .bottom-left {
    width: 85%;
  }
}
.container .features .bottom-row .bottom-left .more-food {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .features .bottom-row .bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem ridge #f9e090;
  background-color: #993366;
  padding: 1rem;
  margin: 4rem;
  width: 45%;
}
@media (max-width: 500px) {
  .container .features .bottom-row .bottom-right {
    width: 85%;
  }
}
.container .features .bottom-row .bottom-right .army {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: 1px solid black;
  background-color: #ff935c;
}
.container .contact .info {
  padding: 1rem;
  margin: 0rem 0rem 0rem 5rem;
}
@media (max-width: 500px) {
  .container .contact .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.container .contact .info h3 {
  padding: 0.5rem;
}
.container .contact .info address {
  padding: 0.5rem;
}
.container .contact .info p {
  padding: 0.5rem;
}
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-header h2 {
  padding: 1rem;
}
.about-header .header-row {
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 500px) {
  .about-header .header-row {
    flex-direction: column-reverse;
  }
}
.about-header .header-row p {
  width: 70%;
}
@media (max-width: 500px) {
  .about-header .header-row p {
    width: 85%;
  }
}
.about-header .header-row .about-us-img {
  width: 30%;
  height: auto;
  border: 1rem ridge #993366;
}
@media (max-width: 500px) {
  .about-header .header-row .about-us-img {
    width: 60%;
    margin: 0 0 2rem 0;
  }
}
h2 {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
}
.mid-content {
  display: flex;
}
.mid-content .our-team {
  display: flex;
  flex-direction: column;
}
.mid-content .our-team .eric {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .eric .eric-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .eric .eric-img {
    width: 37%;
  }
}
.mid-content .our-team .eric .eric-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .eric .eric-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .eric .eric-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .eric .eric-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .eric .eric-bio .fab:hover {
  color: black;
}
.mid-content .our-team .afia {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .afia .afia-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .afia .afia-img {
    width: 37%;
  }
}
.mid-content .our-team .afia .afia-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .afia .afia-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .afia .afia-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .afia .afia-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .afia .afia-bio .fab:hover {
  color: black;
}
.mid-content .our-team .vish {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .vish .vish-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .vish .vish-img {
    width: 37%;
  }
}
.mid-content .our-team .vish .vish-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .vish .vish-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .vish .vish-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .vish .vish-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .vish .vish-bio .fab:hover {
  color: black;
}
@media (max-width: 500px) {
  .mid-content .our-team .vish .vish-bio p {
    font-size: 1rem;
  }
}
.mid-content .our-team .madison {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
  height: 10%;
}
.mid-content .our-team .madison .madison-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .madison .madison-img {
    width: 37%;
  }
}
.mid-content .our-team .madison .madison-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .madison .madison-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .madison .madison-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .madison .madison-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .madison .madison-bio .fab:hover {
  color: black;
}
.mid-content .our-team .devin {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .devin .devin-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .devin .devin-img {
    width: 37%;
  }
}
.mid-content .our-team .devin .devin-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .devin .devin-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .devin .devin-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .devin .devin-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .devin .devin-bio .fab:hover {
  color: black;
}
@media (max-width: 500px) {
  .mid-content .our-team .devin .devin-bio p {
    font-size: 1rem;
  }
}
.mid-content .our-team .ben {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .ben .ben-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .ben .ben-img {
    width: 37%;
  }
}
.mid-content .our-team .ben .ben-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .ben .ben-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .ben .ben-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .ben .ben-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .ben .ben-bio .fab:hover {
  color: black;
}
.mid-content .our-team .diana {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .diana .diana-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .diana .diana-img {
    width: 37%;
  }
}
.mid-content .our-team .diana .diana-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .diana .diana-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .diana .diana-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .diana .diana-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .diana .diana-bio .fab:hover {
  color: black;
}
.mid-content .our-team .josh {
  display: flex;
  width: 90%;
  margin: 2rem;
  border: 1rem ridge #f9e090;
}
.mid-content .our-team .josh .josh-img {
  width: 25%;
  height: auto;
}
@media (max-width: 500px) {
  .mid-content .our-team .josh .josh-img {
    width: 37%;
  }
}
.mid-content .our-team .josh .josh-bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.mid-content .our-team .josh .josh-bio h3 {
  padding: 1rem;
}
.mid-content .our-team .josh .josh-bio .fab {
  color: #993366;
}
@media (max-width: 500px) {
  .mid-content .our-team .josh .josh-bio .fab {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: #993366;
  }
}
.mid-content .our-team .josh .josh-bio .fab:hover {
  color: black;
}
.mid-content .img-box {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .mid-content .img-box {
    display: none;
  }
}
.mid-content .img-box .mid-img {
  margin: 4rem;
  width: 90%;
  height: 90%;
  border: 1rem ridge #993366;
}
