.container {
	background-image: linear-gradient(#f9e090, #ff935c, #993366);
	header {
		.header-img {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			padding: 2rem;
			margin: 0rem 2rem 0rem 2rem;
			.left-img {
				width: 30%;
				height: auto;
				border: 1rem ridge #993366;
			}
			.mid-img {
				width: 30%;
				height: auto;
				border: 1rem ridge #993366;
			}
			.right-img {
				width: 30%;
				height: auto;
				border: 1rem ridge #993366;
			}
		}
		.header-box {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.mission-statement {
				width: 50%;
			}
			.btn-container {
				display: flex;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				width: 25%;
				align-items: center;
				padding: 1rem;
				btn {
					.btn-style(#993366, 1rem, 16px);
					padding: 1rem;
					margin: 1rem;
				}
			}
		}
	} //closes header
	.features {
		display: flex;
		flex-direction: column;
		align-items: center;
		.top-row {
			display: flex;
			.top-left {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.create {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
			.top-right {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.friends {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
		} //closes .top-row
		.mid-row {
			display: flex;
			.mid-left {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.calendar {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
			.mid-right {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.food {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
		} //closes .mid-row
		.bottom-row {
			display: flex;
			.bottom-left {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.more-food {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
			.bottom-right {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1rem ridge #f9e090;
				background-color: #993366;
				padding: 1rem;
				margin: 4rem;
				width: 45%;
				.army {
					width: 35%;
					height: auto;
					padding: 1rem;
					border: 1px solid black;
					background-color: #ff935c;
				}
			}
		} //closes .bottom-row
	} //closes features sec
	.contact {
		.info {
			padding: 1rem;
			margin: 0rem 0rem 0rem 5rem;
			h3 {
				padding: 0.5rem;
			}
			address {
				padding: 0.5rem;
			}
			p {
				padding: 0.5rem;
			}
		}
	} //closes .contact sec
} //closes container
